[submodule "submodules/default"]
	path = submodules/default
	url = https://github.com/Microsoft/vscode
[submodule "submodules/one-dark"]
	path = submodules/one-dark
	url = https://github.com/Binaryify/OneDark-Pro
[submodule "submodules/nord"]
	path = submodules/nord
	url = https://github.com/arcticicestudio/nord-visual-studio-code
[submodule "submodules/city-lights"]
	path = submodules/city-lights
	url = https://github.com/Yummygum/city-lights-syntax-vsc
